---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';
---

<html lang="en">
	<head>
		<MainHead title="About | Manuel Eiweck" description="About Manuel Eiweck" />
		<style lang="scss">
			.heroImg {
				max-height: 24rem;
				object-fit: cover;
				overflow: hidden;

				img {
					width: 100%;
				}
			}

			.bio {
				font-size: var(--f-u1);
				line-height: 2;
			}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About Manuel Eiweck / Emanum</h1>
			<!-- <div class="heroImg">
				<img
					width="1400"
					height="350"
					src="https://images.unsplash.com/photo-1581977012607-4091712d36f9?auto=format&fit=crop&w=1400&h=350&q=75"
				/>
			</div> -->
			<div class="bio wrapper wrapper__readable mt8">
				<p>
					My name is Manuel Eiweck, Software Developer and Visual Computing Master Student at TU Vienna.
					The main focus of my professional software developer career relies on full-stack web development. In my freetime and university courses I enhance my knowledge about visualization, computer vision and computer graphics.<br/>
					You will also find me under my alias Emanum, which I use in games, social media, and for personal accounts/projects.
				</p>
				<!-- <h3>Work Experience</h3>
				<p>Currently I am employed at Treskon Gmbh.</p> -->
			</div>
		</div>
		<Footer />
	</body>
</html>
